.backroundImgeSnaks {
 width: 100%;
  background-image: url("../Images/Home-01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.backroundImgeSnaks {
  width: 100%;
   background-image: url("../Images/Home-01.png");
   background-size: cover;
   background-repeat: no-repeat;
 }

.img-fluid{
  max-height: 200px;
  max-width: 200px;
}
 